<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundación Pana Rabit</title>
    <link rel="stylesheet" href="../utils/style-fundation.css?op=00001">
</head>

<body>
    <!-- Barra de navegacion -->
    <header class="navigation-bar">
        <nav class="nav-options">
            <ul>
                <li><a href="#" class="active">¿Quiénes somos?</a></li>
                <li><a href="#">Voluntariado</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- Contenido de bienvenida -->
    <section class="hero-section">
        <div class="hero-overlay">
            <div class="hero-content">
                <h1 class="text-dark-lila">Bienvenido a nuestro refugio</h1>
                <p>Hola Humano 🐶😺 Es un gusto presentarte nuestro hogar.</p>
                <button class="btn-go">Quiero ser Voluntario</button>
            </div>
        </div>
    </section>
    <!-- Quienes somos -->
    <section class="hwa-section">
        <div class="hwa-card">
            <h1 class="text-dark-lila">Quienes Somos?</h1>
            <p>
                Somos un grupo de perritos y gatitos que alguna vez vivimos en las frías calles de la ciudad. Entre
                bocinazos, hambre y mucho miedo, creímos que nunca encontraríamos un lugar seguro…

                Pero un día, nuestros amigos de la Fundación Pana Rabit nos rescataron. Nos dieron abrigo, comida rica,
                atención médica y mucho amor. Hoy, tenemos una nueva oportunidad de ser felices. Y tú, al estar aquí,
                también formas parte de esta historia.
            </p>
        </div>
        <div class="hwa-image-container">
            <img src="../../../general_resources/images/hwa-section.webp" alt="Acción">
        </div>
    </section>
    <!-- Como ayudarnos -->
    <section class="hwh-section">
        <h1 class="hwh-title">¿Cómo podemos ayudar?</h1>
        <div class="hwh-grid">
            <div class="hwh-card">
                <img src="../../../general_resources/icons/pet-food-pet-svgrepo-com.svg" alt="Comida">
                <p>Comida</p>
            </div>
            <div class="hwh-card">
                <img src="../../../general_resources/icons/injection-svgrepo-com.svg" alt="Medicina">
                <p>Medicina</p>
            </div>
            <div class="hwh-card">
                <img src="../../../general_resources/icons/veterinarian-svgrepo-com.svg" alt="Voluntariado">
                <p>Voluntariado</p>
            </div>
            <div class="hwh-card">
                <img src="../../../general_resources/icons/collar-svgrepo-com.svg" alt="Adopción">
                <p>Adopción</p>
            </div>
        </div>
    </section>
    <!-- Registro de voluntarios -->
    <section class="volunteers-section">
        <div class="volunteers-form">
            <h3 class="volunteers-title">¿Quieres ser parte de nuestra historia?</h3>
            <p class="volunteers-subtitle">Déjanos tus datos y ayúdanos a seguir cambiando vidas</p>
            <form class="form" action="" method="post">
                <div class="input-group">
                    <label for="volunteer-name">Nombre completo</label>
                    <input type="text" name="volunteer-name" id="volunteer-name" placeholder="Ej. María López"
                        required />
                </div>
                <div class="input-group">
                    <label for="volunteer-mail">Correo electrónico</label>
                    <input type="email" name="volunteer-mail" id="volunteer-mail" placeholder="Ej. maria@email.com"
                        required />
                </div>
                <div class="input-group">
                    <label for="volunteer-description">Cuéntanos algo sobre ti</label>
                    <textarea name="volunteer-description" id="volunteer-description"
                        placeholder="¿Por qué te gustaría ayudar?" rows="4"></textarea>
                </div>
                <button class="submit" type="submit">¡Quiero ayudar!</button>
                <div class="icons">
                    <img src="../../../general_resources/icons/dog-svgrepo-com.svg" alt="Perro">
                    <img src="../../../general_resources/icons/black-cat-svgrepo-com.svg" alt="Gato">
                </div>
            </form>
        </div>
    </section>
    <!-- Gracias por leernos -->
    <section class="ty-section">
        <div class="ty-card">
            <img class="ty-icon" src="../../../general_resources/icons/heart-love-marriage-21-svgrepo-com.svg"
                alt="Corazón">
            <div class="ty-message">
                <h3 class="ty-title">Gracias por leernos</h3>
                <p>
                    Tu tiempo vale mucho para nosotros. Al visitarnos nos ayudas a ser más visibles, a tocar más
                    corazones y a seguir ladrando y maullando con alegría.
                </p>
            </div>
        </div>
    </section>
</body>

</html>